<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Foundation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <section class="home">
    <h1>Welcome to Datas</h1>
    <p>
      This is the Datas Ionic Angular frontend foundation for web, Android and iOS apps.
    </p>
    <p>
      Capacitor is configured with native platforms, app assets, deep links and core device services.
    </p>
    <a href="https://datas.dk/developer" target="_blank" rel="noreferrer">
      Visit Datas Developer Documentation
    </a>
  </section>
</ion-content>
